.navbar {
  background: linear-gradient(to bottom, transparent, #fff 400rpx),
  linear-gradient(to right, #3faae3 20%, #1296db);
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  .text {
  display: flex;
  align-items: center;
  height: 64rpx;
  padding-left: 30rpx;
  .logo-text {
  flex: 1;
  line-height: 28rpx;
  color: #fff;
  margin: 2rpx 0 0 20rpx;
  padding-left: 20rpx;
  border-left: 1rpx solid #fff;
  font-size: 28rpx;
  font-weight: 700;
  }
  }
 }
