.my-card {
  margin: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
}
.card-cover {
  max-height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

card-content {
  font-size: 14px;
  color: #666;
}
